<footer class="footer">
  <div class="webInfo">
    <div class="social-container">
      <p id="footer-para">Please visit our social media pages</p>

      <a
        href="https://www.facebook.com/imAJverma?mibextid=ZbWKwL"
        class="social-icon circle fa-facebook"
        target="_blank"
        ><span class="label">Facebook</span></a
      >
      <a
        href="https://instagram.com/yah_its_ajay"
        class="social-icon circle fa-instagram"
        target="_blank"
        ><span class="label">Instagram+</span></a
      >
      <a
        href="https://twitter.com/imAJ_verma"
        class="social-icon circle fa-twitter"
        target="_blank"
        ><span class="label">Twitter</span></a
      >
      <a
        href="https://www.linkedin.com/in/ajayprasadverma"
        class="social-icon circle fa-linkedin"
        target="_blank"
        ><span class="label">Linkedin</span></a
      >
      <a
        href="https://github.com/AjayPrasadVerma"
        class="social-icon circle fa-github"
        target="_blank"
        ><span class="label">Github</span></a
      >
    </div>
    <div class="coypRight">
      <i class="fa-regular fa-copyright"> <span id="year"></span></i> Ajay
      Prasad Verma
    </div>
  </div>
  <script>
    document.getElementById("year").innerText = new Date().getFullYear();
  </script>
</footer>
